# R history and setup files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rproj.user/
.Rapp.history
.RData
.Ruserdata
./*.Rcheck/
.Renviron

# Mac specific-files
.DS_Store

# Don't save OAuth tokens
.httr-oauth
*_cache/
/cache/

# Don't save markdown byproducts
*.utf8.md
*.knit.md

# Don't save vim version control
Session.vim
*.swp

# Don't track version controlled dotfiles in normal version control
.mydotfiles

# Don't track IDE-specific files
.vscode

# Don't track SQL databases
*.db
